#side-panel {
    height: 100%;
    padding-bottom: 54px;
}

#side-panel #accordion {
    height: 100%;
    overflow-y: scroll;
    border-left: 1px solid #dddddd;
}

#side-panel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    padding: 10px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
    cursor: pointer;
    background-color: #414042;
    color: white;
    text-align: center;
}

#side-panel-footer a {
    text-decoration: none;
    color: white;
    font-family: 'Leto', sans-serif;
}

#side-panel-footer a:hover {
    opacity: 0.5;
}


#side-panel-footer img {
    height: 100%;
}

#side-panel input[type='checkbox'] {
    cursor: pointer;
}

#side-panel .panel-heading {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-collapse: collapse;
}

#side-panel .panel-collapse {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#side-panel .inner-panel {
    padding: 10px 15px;
}

#side-panel .panel-heading:hover {
    opacity: 0.5;
}

#side-panel .panel {
    margin-top: -1px;
}

#side-panel .panel-heading:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

#side-panel .panel-heading.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

#side-panel .panel-group {
    margin-bottom: 0;
}

#side-panel .loading {
    opacity: 0.6;
}

#side-panel .panel-option:hover, #side-panel .panel-heading.collapsed:hover {
    background-color: #f5f5f5;
}

#side-panel .panel-option, #side-panel .panel-heading.collapsed {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: black;
}

#all-filters .panel-option {
    padding: 0 !important;
}

#side-panel .disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

#draw-flood-form, #upload-flood-form-wrapper {
    padding: 10px 30px !important;
}

#side-panel .panel-heading.collapsed {
    border-bottom: 1px solid #ddd;
}

.form-control {
    margin-bottom: 5px;
}

form input, form select {
    border: 1px solid #6D6E71 !important;
    border-radius: 4px !important;
    height: 30px !important;
}

form label {
    font-weight: normal;
    font-size: 10pt;
}

.panel-browse-flood {
    position: absolute;
    width: 100%;
    bottom: 47px;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 10000;
}

.panel-browse-flood .panel-body {
    padding-top: 0;
}

.flood-date {
    border-radius: 25px;
}

.trigger-status-historical {
    /* historical activation */
    border: 2px dotted rgba(0,0,0,0.4)!important;
}

/* trigger status colors */
/* in calendar */
.trigger-status-0 {
    /* no activation */
    color: black;
    background-color: var(--cerulean-frost) !important;
}

.trigger-status-1 {
    /* pre-activation */
    color: white;
    background-color: #D39858 !important;
}

.trigger-status-2 {
    /* activation */
    color: white;
    background-color: #CA6060 !important;
}

.trigger-status-3 {
    /* stop */
    background-color: #FF0000;
}

.trigger-status-none {
    /* no status */
    background-color: #dddddd;
}

.btn-arrow.drilldown {
    background-color: transparent !important;
}

/* trigger status colors for button */
.btn-arrow.drilldown.trigger-status-0 {
    /* no activation */
    color: #72CA7A;
}

.btn-arrow.drilldown.trigger-status-1 {
    /* pre-activation */
    color: #D39858;
}

.btn-arrow.drilldown.trigger-status-2 {
    /* activation */
    color: #CA6060;
}

.btn-arrow.drilldown.trigger-status-3 {
    /* stop */
    color: #FF0000;
}

.flood-info {
    word-break: break-all;
    font-size: 9pt;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.hide-browse-flood {
    margin-top: 15px;
}

.hide-browse-flood:hover {
    opacity: 0.7;
}

.browse-control-arrow-group {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.browse-arrow {
    display: none;
}

#status {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}

.status-wrapper {
    display: table;
    width: 100%;
    padding-top: 5px;
}

.status-wrapper span {
    display: table-cell;
    vertical-align: middle;
}

.panel-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6c757d;
    padding-top: 10px;
}

#panel-dashboard .panel-title {
    font-weight: normal !important;
    font-size: 1.2em;
    color: #495057;
}

.box-vulnerability, .box-summary-count, .box-exposed {
    height: 80px;
    border: 2px solid var(--indian-red);
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

.box-count {
    height: 70px;
    padding: 0;
    width: 100%;
    border-radius: 3px;
    color: #495057;
}

.box-count-left {
    padding: 0 2px 5px 5px;
    width: 33%;
}

.box-count-right {
    padding: 0 5px 5px 2px;
    width: 33%;
}

.box-count-middle {
    padding: 0 2px 5px 2px;
    width: 33%;
}

.exposed-count, .vulnerability-score, .score, .summary-count{
    font-size: 28px;
    height: 42px;
}

.exposed-count, .vulnerability-score, .summary-count{
    height: 42px;
    text-align: center;
    width: 100%;
}

.box-exposed {
    float: right;
}

.subtext {
    font-size: 10px;
}

.landing-page-icon img {
    width: 30px;
}

.Infographics {
    margin-top: 10px
}

.browse-header {
    background-color: #6AA47A;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.browse-header img {
    height: 25px;
}

.arrow-start {
    position: absolute;
    bottom: 27px;
    right: 110px;
}

.arrow-start img {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 60px;
}


.flood-summary-info td {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.flood-summary-info {
    padding: 10px 24px 0 25px;
}

.item-header {
    line-height: 35px;
    padding: 0 15px;
    color: #DC923A;
}

#date-legend {
    margin-top: 10px;
    margin-bottom: 10px;
}

#date-legend .legend {
    display: inline-block;
}

#date-legend .legend .colour {
    height: 12px;
    display: inline-block;
    width: 12px;
    border-radius: 24px;
    margin-right: 3px;
    border: 1px solid rgba(0.0.0.0.5);
}

#date-legend .legend td {
    text-align: left;
    padding-right: 10px;
    font-size: 12px;
}

#calendar-flood-browser {
    width: 252px;
    display: inline-block;
}

.flood-count {
    padding: 13px;
    font-size: 16px;
    font-weight: 600;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-, .datepicker--cell.-focus- {
    color: #fff;
    opacity: 0.7;
}

.download-spreadsheet-loading {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11pt;
    display: none;
}

.panel-chart, .panel-chart-road, .panel-chart-primary {
    margin-top: 15px
}

form input[type=file] {
    height: 37px !important;
}

form label {
    font-weight: 600;
    margin-top: 5px;
}

.hazard-input {
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.hazard-input select {
    cursor: pointer;
}

.hazard-input-guide {
    font-size: 12px;
}

.hazard-input-guide .fa {
    color: green;
    cursor: pointer;
    margin-left: 5px;
}

.hazard-input-guide table {
    margin-top: 10px;
}

.hazard-input-guide td, .hazard-input-guide th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 3px;
}

.flood-summary-number {
    font-size: 1.5em;
    padding-right: 5px;
}

.panel-body {
    padding: 30px !important;
}

.box-wrapper {
    padding-left: 10px;
    align-items: center;
    justify-content: center;
}

.box-content-value {
    margin-top: -5px;
}

.hazard-list:hover {
    cursor: pointer;
    opacity: 0.9;
}

.recent-hazard-title {
    font-size: 15pt;
    margin-bottom: 10px;
}

.region-summary-panel-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.region-summary-panel-card .card-header {
    text-align: center;
}

.card-header-title {
    font-size: 1.3rem !important;
    color: rgba(13,27,62,0.7)
}

.card-header-subtitle {
    font-size: 1rem !important;
    color: rgba(19, 30, 60, 0.7)
}

.card-header-next-btn {
    position: absolute;
    right: 0;
    padding-right: 10px;
}

.region-summary-panel-card-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-shadow {
    box-shadow: 0 0.46875rem 2.1875rem rgba(63,106,216,0.03), 0 0.9375rem 1.40625rem rgba(63,106,216,0.03), 0 0.25rem 0.53125rem rgba(63,106,216,0.05), 0 0.125rem 0.1875rem rgba(63,106,216,0.03);
}

#action-status {
    font-weight: 300;
    font-size: 1.2em !important;
}

.region-summary-panel-card .box-icon {
    font-size: 15pt;
    color: #b3b3b3;
}

.summary-chart-primary {
    max-height: 200px;
}

.box-content-value > .fa {
    margin-right: 10px;
}